In [1]:
import os
import pandas as pd

import kagglehub
from sklearn.feature_extraction.text import TfidfVectorizer
from keras.preprocessing.text import Tokenizer
from keras_preprocessing.sequence import pad_sequences
from sentence_transformers import SentenceTransformer

import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import TensorDataset, DataLoader

from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam
from keras.callbacks import EarlyStopping
from keras.utils import to_categorical
from keras.layers import Embedding, GRU, LSTM, SimpleRNN, Dense, Dropout

# path = kagglehub.dataset_download("datatattle/covid-19-nlp-text-classification")
# os.rename(path, './datasets')

In [2]:
df = pd.read_csv('./datasets/Corona_NLP_test.csv')
df.shape

(3798, 6)

In [3]:
df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative
1,2,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive
2,3,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Extremely Positive
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral

In [4]:
sent_scores = {
    'Extremely Negative': -2,
    'Negative': -1,
    'Neutral': 0,
    'Positive': 1,
    'Extremely Positive': 2
}

df['sentiment_score'] = df['Sentiment'].apply(lambda x: sent_scores[x])
dumm = pd.get_dummies(df['Sentiment'])
df = df.join(dumm)

df = df[['OriginalTweet', 'sentiment_score', 'Extremely Negative', 'Negative', 'Neutral', 'Positive', 'Extremely Positive']]
df.columns = ['text', 'sentiment_score', 'extremely_negative', 'negative', 'neutral', 'positive', 'extremely_positive']
df.head()

,text,sentiment_score,extremely_negative,negative,neutral,positive,extremely_positive
0,TRENDING: New Yorkers encounter empty supermar...,-2,1,0,0,0,0
1,When I couldn't find hand sanitizer at Fred Me...,1,0,0,0,1,0
2,Find out how you can protect yourself and love...,2,0,0,0,0,1
3,#Panic buying hits #NewYork City as anxious sh...,-1,0,1,0,0,0
4,#toiletpaper #dunnypaper #coronavirus #coronav...,0,0,0,1,0,0

In [5]:
# tfidf = TfidfVectorizer(stop_words='english')

# X_tfidf = tfidf.fit_transform(df['text'])
# X_tfidf

In [6]:
tokenizer = Tokenizer(num_words = 5000)
tokenizer.fit_on_texts(df['text'].values)
tokenized = tokenizer.texts_to_sequences(df['text'].values)
X_tokenized = pad_sequences(tokenized, maxlen = 200)
X_tokenized

array([[  0,   0,   0, ...,  12,   8,  10],
       [  0,   0,   0, ...,  12,   8,  10],
       [  0,   0,   0, ..., 669,  49,  13],
       ...,
       [  0,   0,   0, ...,  12,   8,  10],
       [  0,   0,   0, ..., 753, 112, 102],
       [  0,   0,   0, ...,  12,   8,  10]], dtype=int32)

In [ ]:
embedding = SentenceTransformer('labse')

embeddings = embedding.encode(df['text'].values)
embeddings